body {
    background-color: rgb(200, 228, 200);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pontos {
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}

#alerta {
    text-align: center;
    text-transform: to-uppercase;
}

#snake {
    max-width: 512px;
    max-height: 512px;
}

