body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pontos {
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
}

